<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Login form -->
    <form id="formLogin">
        <input type="text" placeholder="Username" id="username" autocomplete="on" required> 
        <br>
        <input type="password" placeholder="Password" id="password" autocomplete="on" required>
        <br>
        <button type="submit" id="submit">Login</button>
    </form> 

    <br>
    If you don't have a user, create one <a href="register.html"> here </a>
    <br>
    Go to homepage without login <a href="index.html"> here </a>

    <script src="login.js" defer></script>
</body>
</html>